html, body {
    margin: 0;
    min-height: 100%;
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.header, .hero, .footer {
    background-color: #1f2937;
    width: 100%;
    color: white;
}

.information, .quote {
    width: 100%;
}

.quote {
    background-color: #e5e7eb;
}

.header-container, .hero-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1400px;
}

.header-left, .header-right {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header-left p {
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-container {
    padding: 60px 0;
    gap: 60px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-left h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
}

.hero-left p {
    margin: 0;
    font-size: 18px;
    color: #e5e7eb;
    width: 90%;
}

.hero-button {
    background-color: #3882f6;
    border-radius: 5px;
    padding: 8px 20px;
    width: fit-content;
}

.hero-right img {
    width: 600px;
    height: auto;
}

.info-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1400px;
    margin-top: 50px;
}

.info-container {
      padding: 20px 0;
}

.info-title {
    padding-bottom: 20px;
}

.info-title h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.info-cards {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

.card-container p {
    text-align: center;
    width: 200px;
    height: 200px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    padding: 100px 0;
}

.quote-container .main-quote { 
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.quote-container .quote-author {
    padding: 0;
    margin: 0;
    align-self: flex-end;
    font-size: 24px;
    font-weight: 800;
    padding: 10px 0;
}

.cta-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    max-width: 1000px;
    margin-top: 50px;
    background-color: #3882f6;
    color: white;
    padding: 60px 40px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.cta-left, .cta-right {
    padding: 0 60px;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.cta-button {
    border: 2px solid #F9FAF8;
}

.cta-header {
    font-weight: 800;
    font-size: 20px;
    margin: 0;
}

.cta-sub {
    margin: 0;
}

.footer-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin: 0 auto;
}